# Compiled Object files
*.slo
*.lo
*.o
*.ncb

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/xcgui/xcgui/Debug
/xcgui/xcgui/Release
/xcgui/xcgui/DLL_Debug
/xcgui/xcgui/DLL_Release
/xcgui/Debug
/xcgui/Release
/xcgui/DLL_Debug
/xcgui/DLL_Release
